.header {
	padding: 30px 88px;
	background-color: $secondary;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav {
    // color: $light;
    &-item {
        padding-left: 64px;
        &:hover {
			background-image: linear-gradient(0deg, $danger 50%, transparent 50.1%);
		}
    }
    &-link {
        color: #fff;
        font-size: 2.5rem;
    }
}