<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <a href="index.html">
        <img src="/assets/images/img/logo.png" alt="" class="logo">
    </a>   
        <ul class="nav-list d-flex">
            <li class="nav-item"><a href="product.html" class="nav-link c-light">系列鏡框</a></li>
            <li class="nav-item"><a href="storeLocation.html" class="nav-link c-light">門市據點</a></li>
            <li class="nav-item"><a href="#" class="nav-link c-light">部落格</a></li>
            <li class="nav-item"><a href="#" class="nav-link c-light">常見問題</a></li>
        </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container text-white flex-column">
      <div class="footer-info">
          <div class="navbar flex-align-items-center justify-content-between">
              <div class="footer-nav">
                  <ul class="footer-list flex-align-items-center ">
                      <li class="footer-item"><a href="#" class="footer-link c-light">首頁</a></li>
                      <li class="footer-item"><a href="#" class="footer-link c-light">系列鏡框</a></li>
                      <li class="footer-item"><a href="#" class="footer-link c-light">門市據點</a></li>
                      <li class="footer-item"><a href="#" class="footer-link c-light">部落格</a></li>
                      <li class="footer-item"><a href="#" class="footer-link c-light">常見問題</a></li>
                  </ul>
              </div>
              <div class="footer-nav">
                  <ul class="friendlink flex-align-items-center">
                      <li class="friendlink-item"><a href="#" class="friendlink-link "><img src="/assets/images/img/icon-fb.svg" alt=""></a></li>
                      <li class="friendlink-item"><a href="#" class="friendlink-link "><img src="/assets/images/img/icon-ig.svg" alt=""></a></li>
                      <li class="friendlink-item"><a href="#" class="friendlink-link "><img src="/assets/images/img/icon-line.svg" alt=""></a></li>
                  </ul>
              </div>
          </div>
          <div class="footer-connect">
              <ul class="connect-list ">
                  <li class="connect-item flex-align-items-center">
                      <img src="/assets/images/img/icon-phone.svg" alt="">
                      <p>0800-000-000</p>
                  </li>
                  <li class="connect-item flex-align-items-center">
                      <img src="/assets/images/img/icon-mail.svg" alt="">
                      <p>glasses@business.com</p>
                  </li>
              </ul>          
          </div>
          <div class="footer-desc flex-align-items-center">
              <div class="footer-copyright flex-align-items-center">
                  <img src="/assets/images/img/logo.png" alt="" class="logo">
                  <p>Copyright © 2020 Glasses.All rights reserved.</p>
              </div>
              <div class="footer-msg">
                  <ul class="footer-msg-list flex-align-items-center">
                      <li class="footer-msg-item">
                          <a href="#" class="footer-msg-link c-light">隱私權政策</a>
                      </li>
                      <li class="footer-msg-item">
                              <a href="#" class="footer-msg-link c-light">服務條款</a>
                              <img src="/assets/images/img/logo.png" alt="">
                      </li>                     
                  </ul>
              </div>
          </div>
      </div>                       
  </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
