.banner {
    // height: calc(100vh);
    height: 840px;
    background: url(../images/img/banner.png) center center no-repeat;
    background-size: cover;
    .container {
        height: 100%;
    }
    &-content {
        line-height: 28px;
    }
    @include breakpoint(pad) {
        background: url(../images/img/banner-sm.png) center center no-repeat;
        background-size: cover;
    }
    @include breakpoint(phone) {
        height: 394px;
        &-content {
            line-height: 22px;
        }
    }
}
.service {
    padding: 64px 0 80px;
    background: $light;
    li {       
        margin-right: 77px;
    }
    img {
        display: inline-block;
        margin-bottom: 40px;
    }
    h2 {
        margin-bottom: 60px;
        line-height: 67px;
        color: $primary;
    }
    h4 {
        font-size: 3rem;
        color: $primary;
        line-height: 33px;
    }
    p {
        width: 208px;
        font-size: 2rem;
        text-align: left;
        line-height: 24px;
    }
    @include breakpoint(pad) {
        padding: 40px 0; 
        ul {
            flex-wrap: wrap;
        }
        li {
            width: 50%;
            margin: 0;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 80px;
            margin-bottom: 16px;
        }
        h2 {
            margin-bottom: 32px;
            line-height: 45px;
        }
        h4 {
            font-size: 2.5rem;
            line-height: 28px;
            margin-bottom: 8px;
        }
        p {
            width: 237px;
        }
    }
    @include breakpoint(phone) {
        padding: 32px 0 45px;
        li {
            width: 237px;
        }
        h2 {
            margin-bottom: 20px;
            line-height: 20px;
        }
    }
}
.classic {
    padding: 64px 0 80px;
    li:nth-child(2) {
        flex-direction: row-reverse;
    }
    li:nth-child(3) {
        padding-bottom: 0;
    }
    h2 {
        margin-bottom: 60px;
        line-height: 67px;
    }
    li {
        padding-bottom: 32px;
        .classic-img {
            width: 635px;
        }
        .classic-icon {
            position:absolute;
        }
        .classic-icon.icon-white {
            position: relative;
            display: none;
        }
        p {
            margin-left: 56px;
            font-size: 6rem;
            line-height: 63px;
            font-weight: bold;
        }
    }
    &-brand {
        padding-left: 30px;     
        &:nth-child(2) {
            padding-right: 30px;
        }
    }
    @include breakpoint(pad) {
        padding: 40px 0;
        h2 {
            margin-bottom: 32px;
            line-height: 45px;
        }
        li {      
            justify-content: start;
            padding-bottom: 8px;      
            &:nth-child(2) {
            flex-direction: row;
            }
            .classic-img {
                width: 390px;
            }
            .classic-icon {
                width: 32px;
            }
            p {
                margin-left: 38px;
                font-size: 2.5rem;
                line-height: 37px;
            }
        }
        &-bran {
            width: 50%;
            &:nth-child(2) {
                padding-right: 0;
            }
        }  
    }
    @include breakpoint(phone) {
        padding: 32px 0;
        h2 {
            margin-bottom: 20px;
            line-height: 28px;
        }
        li {
            .classic-icon.icon-white {
                display: block;
            }
            .classic-icon.icon-red {
                display: none;
            }
            .classic {
                &-img {
                width: 345px;
                }
                &-brand {
                    text-align: left;
                    width: 345px;
                    padding: 0;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                }
            }
            p {
                color:#fff;
                margin-left: 8px;
            }
        }

    }
}
.design {
    height: 743px;
	background: url(../images/img/bg.png) center center no-repeat;
	background-size: cover;
    padding: 64px 0px 80px 0px;
    .design-brand::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255,255,255,0.5);
    }
    h2 {
        line-height: 67px;
        margin-bottom: 60px;
    }
    li {
        margin: 0 15px;
    }
    li {
        width: 540px;
    }
    &-brand {
        img {
            width: 540px;      
        }
    }
    p {
        position: absolute;
        font-size: 9rem;
    }
    
}