@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

input:focus {
  outline: none; }

.container {
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 690px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 345px; } }

.ml-1 {
  margin-left: 16px; }
  @media (max-width: 992px) {
    .ml-1-md {
      margin-left: 8px; } }
  @media (max-width: 767px) {
    .ml-1-sm {
      margin-left: 4px; } }

.mr-1 {
  margin-right: 16px; }

.mb-1 {
  margin-bottom: 16px; }

.mt-1 {
  margin-top: 16px; }

.ml-2 {
  margin-left: 24px; }
  @media (max-width: 992px) {
    .ml-2-md {
      margin-left: 12px; } }
  @media (max-width: 767px) {
    .ml-2-sm {
      margin-left: 6px; } }

.mr-2 {
  margin-right: 24px; }

.mb-2 {
  margin-bottom: 24px; }

.mt-2 {
  margin-top: 24px; }

.ml-3 {
  margin-left: 32px; }
  @media (max-width: 992px) {
    .ml-3-md {
      margin-left: 16px; } }
  @media (max-width: 767px) {
    .ml-3-sm {
      margin-left: 8px; } }

.mr-3 {
  margin-right: 32px; }

.mb-3 {
  margin-bottom: 32px; }

.mt-3 {
  margin-top: 32px; }

.ml-4 {
  margin-left: 40px; }
  @media (max-width: 992px) {
    .ml-4-md {
      margin-left: 20px; } }
  @media (max-width: 767px) {
    .ml-4-sm {
      margin-left: 10px; } }

.mr-4 {
  margin-right: 40px; }

.mb-4 {
  margin-bottom: 40px; }

.mt-4 {
  margin-top: 40px; }

.ml-5 {
  margin-left: 48px; }
  @media (max-width: 992px) {
    .ml-5-md {
      margin-left: 24px; } }
  @media (max-width: 767px) {
    .ml-5-sm {
      margin-left: 12px; } }

.mr-5 {
  margin-right: 48px; }

.mb-5 {
  margin-bottom: 48px; }

.mt-5 {
  margin-top: 48px; }

.ml-6 {
  margin-left: 60px; }
  @media (max-width: 992px) {
    .ml-6-md {
      margin-left: 30px; } }
  @media (max-width: 767px) {
    .ml-6-sm {
      margin-left: 15px; } }

.mr-6 {
  margin-right: 60px; }

.mb-6 {
  margin-bottom: 60px; }

.mt-6 {
  margin-top: 60px; }

.ml-7 {
  margin-left: 64px; }
  @media (max-width: 992px) {
    .ml-7-md {
      margin-left: 32px; } }
  @media (max-width: 767px) {
    .ml-7-sm {
      margin-left: 16px; } }

.mr-7 {
  margin-right: 64px; }

.mb-7 {
  margin-bottom: 64px; }

.mt-7 {
  margin-top: 64px; }

.ml-8 {
  margin-left: 80px; }
  @media (max-width: 992px) {
    .ml-8-md {
      margin-left: 40px; } }
  @media (max-width: 767px) {
    .ml-8-sm {
      margin-left: 20px; } }

.mr-8 {
  margin-right: 80px; }

.mb-8 {
  margin-bottom: 80px; }

.mt-8 {
  margin-top: 80px; }

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 8px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

.h1 {
  font-size: 8rem;
  font-weight: bold; }
  @media (max-width: 992px) {
    .h1 {
      font-size: 6rem; } }
  @media (max-width: 767px) {
    .h1 {
      font-size: 4rem; } }

.h2 {
  font-size: 6rem;
  font-weight: bold; }
  @media (max-width: 992px) {
    .h2 {
      font-size: 4rem; } }
  @media (max-width: 767px) {
    .h2 {
      font-size: 3rem; } }

.h3 {
  font-size: 4.5rem;
  font-weight: bold; }
  @media (max-width: 992px) {
    .h3 {
      font-size: 2.5rem; } }
  @media (max-width: 767px) {
    .h3 {
      font-size: 2rem; } }

.h4 {
  font-size: 5.25rem; }
  @media (max-width: 992px) {
    .h4 {
      font-size: 4rem; } }
  @media (max-width: 767px) {
    .h4 {
      font-size: 2.5rem; } }

.h5 {
  font-size: 4rem; }
  @media (max-width: 992px) {
    .h5 {
      font-size: 3rem; } }
  @media (max-width: 767px) {
    .h5 {
      font-size: 2rem; } }

.h6 {
  font-size: 3rem; }
  @media (max-width: 767px) {
    .h6 {
      font-size: 2rem; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-align-items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-justify-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-base {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-bold {
  font-weight: 900; }

.text-primary {
  color: #650300; }

.text-danger {
  color: #650300; }

.text-secondary {
  color: #AA0601; }

.text-light {
  color: #AA06010D; }

.text-white {
  color: #fff; }

.bg-primary {
  background-color: #650300; }

.bg-secondary {
  background-color: #AA0601; }

.bg-light {
  background-color: #AA06010D; }

.bg-danger {
  background-color: #650300; }

.bg-black {
  background-color: #000; }

.header {
  padding: 30px 88px;
  background-color: #AA0601;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .header {
      padding: 10px 0 0 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header img {
        width: 48px;
        padding: 0 0 10px 0; } }

@media (max-width: 767px) {
  .nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; } }

.nav-item {
  padding-left: 64px; }
  @media (max-width: 992px) {
    .nav-item {
      padding-left: 40px; } }
  @media (max-width: 767px) {
    .nav-item {
      width: 50%;
      padding: 0px;
      text-align: center;
      border: 1px solid #fff; } }

.nav-link {
  display: block;
  color: #fff;
  font-size: 2.5rem; }
  .nav-link:hover {
    color: #a1bad0;
    position: relative;
    /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 1px;
    left: 1px; }
  @media (max-width: 767px) {
    .nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 44px;
      padding: 0; }
      .nav-link:hover {
        background-color: #a77b7b;
        color: #fff; } }

@media (max-width: 767px) {
  .logo {
    padding: 10px; } }

.footer {
  background-color: #AA0601;
  padding-top: 36px;
  padding-bottom: 28px; }
  .footer .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 36px; }
  .footer-nav .friendlink img {
    padding-left: 32px; }
  .footer-item {
    padding-right: 48px; }
    .footer-item a {
      color: #fff;
      font-size: 16px; }
  .footer-connect {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff; }
    .footer-connect p {
      padding-left: 12px;
      font-size: 4.5rem;
      line-height: 48px; }
    .footer-connect li:nth-child(1) {
      margin-bottom: 19px; }
      .footer-connect li:nth-child(1) p {
        padding-left: 17px; }
  .footer-desc {
    padding-top: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-copyright img {
    padding-right: 38px; }
  .footer-copyright p {
    font-size: 16px; }
  .footer-msg a {
    color: #fff;
    font-size: 14px; }
  .footer-msg-item:nth-last-child(1) {
    padding-left: 62px; }
  .footer-msg-item img {
    display: none; }
  .footer a:hover {
    position: relative;
    /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 1px;
    left: 1px; }
  @media (max-width: 992px) {
    .footer {
      padding: 40px 0; }
      .footer-item {
        padding-right: 40px; }
      .footer .navbar {
        padding-bottom: 24px; }
      .footer-nav .friendlink img {
        padding-left: 24px;
        width: 48px; }
      .footer-connect {
        padding-bottom: 24px; }
        .footer-connect li:nth-child(1) {
          margin-bottom: 8px; }
      .footer-copyright img {
        display: none; }
      .footer-msg-item:nth-last-child(1) {
        padding-left: 24px; }
      .footer .footer-connect li p {
        font-size: 2.5rem;
        line-height: 26px; }
      .footer .footer-connect li img {
        width: 32px; } }
  @media (max-width: 767px) {
    .footer .navbar {
      position: absolute; }
    .footer .footer-connect li p {
      padding-left: 5px;
      font-size: 2rem;
      line-height: 21px; }
    .footer .footer-connect li img {
      width: 20px; }
    .footer .footer {
      padding: 0 23px 0 21px; }
      .footer .footer-nav:nth-child(1) {
        display: none; }
      .footer .footer-nav:nth-child(2) {
        margin-left: 195px; }
      .footer .footer-connect li:nth-child(1) {
        margin-bottom: 7px; }
      .footer .footer-desc {
        padding-top: 18px; }
      .footer .footer-desc, .footer .footer-msg-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start; }
      .footer .footer-msg ul, .footer .footer-msg-item, .footer .footer-msg a {
        padding-left: 0; }
      .footer .footer-msg-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .footer-msg-item :nth-last-child(1) {
          padding: 7px 0 8px; }
        .footer .footer-msg-item img {
          display: block;
          width: 46px;
          position: absolute;
          margin-left: 293px; } }

.m-pagination .display {
  display: none; }
  @media (max-width: 992px) {
    .m-pagination .display {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.m-pagination .pagination .pagination-item {
  border: 1px solid #555555; }

.m-pagination .pagination p {
  color: #555555;
  font-size: 2.375rem;
  padding: 10px 17px 14px 14px; }

.m-pagination .pagination a {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  color: #555555;
  font-size: 2.25rem; }
  .m-pagination .pagination a:hover {
    background: #000000;
    color: #fff; }
    .m-pagination .pagination a:hover p {
      color: #fff; }

@media (max-width: 992px) {
  .m-pagination .pagination .pagination-item {
    border: 1px solid #555555; }
  .m-pagination .pagination p {
    color: #555555;
    font-size: 2.375rem;
    padding: 10px 17px 14px 14px; }
  .m-pagination .pagination a {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    color: #555555;
    font-size: 2.25rem; }
    .m-pagination .pagination a:hover {
      background: #000000;
      color: #fff; }
      .m-pagination .pagination a:hover p {
        color: #fff; } }

@media (max-width: 767px) {
  .m-pagination .pagination p {
    color: #555555;
    font-size: 1.5rem;
    padding: 8px 8px 7px 9px; } }

.product-navbar li a {
  width: 462px;
  padding: 28px 0 27px;
  border-left: 1px solid rgba(97, 96, 96, 0.7);
  border-left: 1px solid #DCDCDC; }
  .product-navbar li a:nth-last-child(1) {
    border-right: 1px solid #DCDCDC; }
  .product-navbar li a:hover {
    border-bottom: 16px solid #AA0601; }

.product-navbar li p {
  color: #000;
  font-size: 5.25rem;
  margin-left: 8px; }

.product-navbar li img {
  height: 48px; }

@media (max-width: 992px) {
  .product-navbar li a {
    width: 256px;
    padding: 19px 0 18px; }
    .product-navbar li a:hover {
      border-bottom: 8px solid #AA0601; }
  .product-navbar li p {
    font-size: 3.5rem; }
  .product-navbar li img {
    height: 32px; } }

@media (max-width: 767px) {
  .product-navbar li a {
    width: 125px;
    padding: 10px 0 10px; }
    .product-navbar li a:hover {
      border-bottom: 4px solid #AA0601; }
  .product-navbar li p {
    font-size: 1.75rem;
    margin-left: 5px; }
  .product-navbar li img {
    height: 15px; } }

.banner {
  height: 840px;
  background: url(../images/img/banner.png) center center no-repeat;
  background-size: cover; }
  .banner .container {
    height: 100%; }
  .banner-content {
    line-height: 28px; }
  @media (max-width: 992px) {
    .banner {
      background: url(../images/img/banner-sm.png) center center no-repeat;
      background-size: cover; } }
  @media (max-width: 767px) {
    .banner {
      height: 394px; }
      .banner-content {
        line-height: 22px; } }

.service {
  padding: 64px 0 80px;
  background: #AA06010D; }
  .service li {
    margin-right: 77px; }
  .service img {
    display: inline-block;
    margin-bottom: 40px; }
  .service h2 {
    margin-bottom: 60px;
    line-height: 67px;
    color: #650300; }
  .service h4 {
    font-size: 3rem;
    color: #650300;
    line-height: 33px; }
  .service p {
    width: 208px;
    font-size: 2rem;
    text-align: left;
    line-height: 24px; }
  @media (max-width: 992px) {
    .service {
      padding: 40px 0; }
      .service ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      .service li {
        width: 50%;
        margin: 0;
        padding-bottom: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .service img {
        width: 80px;
        margin-bottom: 16px; }
      .service h2 {
        margin-bottom: 32px;
        line-height: 45px; }
      .service h4 {
        font-size: 2.5rem;
        line-height: 28px;
        margin-bottom: 8px; }
      .service p {
        width: 237px; } }
  @media (max-width: 767px) {
    .service {
      padding: 32px 0 45px; }
      .service li {
        width: 237px; }
      .service h2 {
        margin-bottom: 20px;
        line-height: 20px; } }

.classic {
  padding: 64px 0 80px; }
  .classic li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .classic li:nth-child(3) {
    padding-bottom: 0; }
  .classic h2 {
    margin-bottom: 60px;
    line-height: 67px; }
  .classic li {
    padding-bottom: 32px; }
    .classic li .classic-img {
      width: 635px; }
    .classic li .classic-icon {
      position: absolute; }
    .classic li .classic-icon.icon-white {
      position: relative;
      display: none; }
    .classic li p {
      margin-left: 56px;
      font-size: 6rem;
      line-height: 63px;
      font-weight: bold; }
  .classic-brand {
    padding-left: 30px; }
    .classic-brand:nth-child(2) {
      padding-right: 30px; }
  @media (max-width: 992px) {
    .classic {
      padding: 40px 0; }
      .classic h2 {
        margin-bottom: 32px;
        line-height: 45px; }
      .classic li {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        padding-bottom: 8px; }
        .classic li:nth-child(2) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
        .classic li .classic-img {
          width: 390px; }
        .classic li .classic-icon {
          width: 32px; }
        .classic li p {
          margin-left: 38px;
          font-size: 2.5rem;
          line-height: 37px; }
      .classic-bran {
        width: 50%; }
        .classic-bran:nth-child(2) {
          padding-right: 0; } }
  @media (max-width: 767px) {
    .classic {
      padding: 32px 0; }
      .classic h2 {
        margin-bottom: 20px;
        line-height: 28px; }
      .classic li .classic-icon.icon-white {
        display: block; }
      .classic li .classic-icon.icon-red {
        display: none; }
      .classic li .classic-img {
        width: 345px; }
      .classic li .classic-brand {
        text-align: left;
        width: 345px;
        padding: 0;
        position: absolute;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .classic li p {
        color: #fff;
        margin-left: 8px; } }

.design {
  width: 100%;
  height: 743px;
  background: url(../images/img/bg.png) center center no-repeat;
  background-size: cover;
  padding: 64px 0px 80px 0px; }
  .design .design-brand {
    position: absolute;
    width: 540px; }
  .design .design-brand::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5); }
  .design h2 {
    line-height: 67px;
    margin-bottom: 60px; }
  .design li {
    margin: 0 15px; }
  .design li {
    width: 540px; }
  .design p {
    position: absolute;
    font-size: 9rem; }
  @media (max-width: 992px) {
    .design {
      height: 437px;
      padding: 40px 0; }
      .design .design-brand {
        width: 330px; }
      .design h2 {
        line-height: 45px;
        margin-bottom: 32px; }
      .design p {
        font-size: 4rem; } }
  @media (max-width: 767px) {
    .design {
      height: 696px;
      padding: 32px 0; }
      .design .design-brand {
        width: 345px;
        position: relative;
        height: 284px; }
        .design .design-brand img {
          width: 345px;
          height: 284px; }
      .design h2 {
        line-height: 28px;
        margin-bottom: 20px; }
      .design ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .design li {
        margin: 0 0 16px 0; } }

.comment {
  padding: 64px 0; }
  .comment h2 {
    margin-bottom: 60px;
    line-height: 67px; }
  .comment li {
    width: 255px;
    margin-right: 30px; }
    .comment li:nth-last-child(1) {
      margin-right: 0; }
    .comment li img {
      width: 100%; }
  .comment-content {
    padding: 15px 16px;
    border: 1px solid #DEE2E6; }
  .comment p {
    font-size: 1.75rem;
    line-height: 29px; }
    .comment p:nth-child(2) {
      font-size: 2rem;
      line-height: 24px;
      margin: 7px 0 10px; }
    .comment p:nth-last-child(1) {
      color: #707070; }
  @media (max-width: 992px) {
    .comment {
      padding: 40px 0 12px 0; }
      .comment h2 {
        margin-bottom: 32px; }
      .comment ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      .comment li {
        width: 330px;
        margin: 0 0 28px 0; }
      .comment .comment-content {
        padding: 16px; }
      .comment p:nth-child(2) {
        margin: 16px 0; } }
  @media (max-width: 992px) and (max-width: 767px) {
    .comment {
      padding: 32px 0 16px; }
      .comment h2 {
        margin-bottom: 20px; }
      .comment ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .comment li {
        width: 345px;
        margin-bottom: 16px; }
      .comment comment-content {
        padding: 16px 16px 0 16px; }
      .comment p {
        margin: 0 0 16px 0; } }

.contact {
  padding: 64px 0 80px; }
  .contact h2 {
    margin-bottom: 24px;
    color: #000; }
  .contact p {
    font-size: 2.5rem;
    line-height: 30px;
    width: 730px;
    margin-bottom: 20px; }
  .contact .btn {
    width: 350px;
    height: 54px;
    font-size: 2rem;
    font-weight: bold;
    border: 0; }
    .contact .btn:hover {
      background: rgba(212, 107, 107, 0.8); }
  @media (max-width: 992px) {
    .contact {
      padding: 40px 0; }
      .contact h2 {
        margin-bottom: 16px; }
      .contact p {
        font-size: 2rem;
        line-height: 24px;
        width: 450px;
        margin-bottom: 12px; }
      .contact .btn {
        width: 210px;
        height: 36px;
        font-size: 1.75rem; } }
  @media (max-width: 767px) {
    .contact {
      padding: 32px 0; }
      .contact h2 {
        margin-bottom: 20px; }
      .contact p {
        width: 345px;
        margin-bottom: 8px; }
      .contact .btn {
        width: 165px; } }
  .contact form {
    width: 730px;
    margin-bottom: 42px; }
    .contact form ::-webkit-input-placeholder {
      font-size: 2rem;
      opacity: .5;
      padding-left: 16px; }
    .contact form ::-moz-placeholder {
      font-size: 2rem;
      opacity: .5;
      padding-left: 16px; }
    .contact form :-ms-input-placeholder {
      font-size: 2rem;
      opacity: .5;
      padding-left: 16px; }
    .contact form ::-ms-input-placeholder {
      font-size: 2rem;
      opacity: .5;
      padding-left: 16px; }
    .contact form ::placeholder {
      font-size: 2rem;
      opacity: .5;
      padding-left: 16px; }
    .contact form .form-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      font-size: 2rem;
      line-height: 24px;
      margin-bottom: 16px; }
    .contact form .form-control {
      height: 50px; }
    .contact form .form-control[type="textarea"] {
      height: 136px;
      resize: none; }
    .contact form .form-check {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .contact form .form-check-input[type="checkbox"] {
        width: 24px;
        height: 24px; }
    @media (max-width: 992px) {
      .contact form {
        width: 450px;
        margin-bottom: 20px; }
        .contact form ::-webkit-input-placeholder {
          font-size: 1.75rem;
          opacity: .5;
          padding-left: 12px; }
        .contact form ::-moz-placeholder {
          font-size: 1.75rem;
          opacity: .5;
          padding-left: 12px; }
        .contact form :-ms-input-placeholder {
          font-size: 1.75rem;
          opacity: .5;
          padding-left: 12px; }
        .contact form ::-ms-input-placeholder {
          font-size: 1.75rem;
          opacity: .5;
          padding-left: 12px; }
        .contact form ::placeholder {
          font-size: 1.75rem;
          opacity: .5;
          padding-left: 12px; }
        .contact form .form-group {
          font-size: 1.75px;
          line-height: 20px;
          margin-bottom: 8px; }
        .contact form .form-control {
          height: 36px; }
          .contact form .form-control[type="textarea"] {
            height: 100px; }
        .contact form .form-check-input[type="checkbox"] {
          width: 17.63px; } }
    @media (max-width: 767px) {
      .contact form {
        width: 345px; } }

.product-banner img {
  width: 50%; }
  .product-banner img:nth-child(1) {
    margin-right: 30px; }

@media (max-width: 992px) {
  .product-banner img:nth-child(1) {
    margin: 0px; } }

.product-main {
  padding: 88px 0 156px; }
  .product-main .product-title h4 {
    line-height: 63px; }
  .product-main .product-title p {
    margin-bottom: 40px; }
  .product-main .product-list li {
    width: 255px;
    margin-bottom: 100px; }
    .product-main .product-list li img {
      width: 100%;
      height: 164px; }
    .product-main .product-list li .price p:nth-child(2) {
      color: #AA0601; }
  @media (max-width: 992px) {
    .product-main {
      padding: 40px 0 104px; }
      .product-main .product-title h4 {
        line-height: 43px; }
      .product-main .product-title p {
        margin-bottom: 32px; }
      .product-main .product-list li {
        width: 330px;
        margin-bottom: 72px; } }
  @media (max-width: 767px) {
    .product-main {
      padding: 30px 0 56px; }
      .product-main .product-title h4 {
        line-height: 26px; }
      .product-main .product-title p {
        margin-bottom: 20px; }
      .product-main .product-list li {
        width: 345px;
        margin-bottom: 32px; } }
  .product-main .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product-main .box-color {
      width: 24px;
      height: 24px;
      background: #5F3E2D;
      border-radius: 4px; }
      .product-main .box-color:nth-child(2) {
        background: #B75929;
        margin-left: 8px; }
    @media (max-width: 767px) {
      .product-main .box-color {
        width: 15px;
        height: 15px; } }

.product-banner img {
  width: 50%; }
  .product-banner img:nth-child(1) {
    margin-right: 30px; }

@media (max-width: 992px) {
  .product-banner img:nth-child(1) {
    margin: 0px; } }

.product-sun-main {
  padding-top: 88px 0 304px; }
  .product-sun-main .product-title h4 {
    line-height: 63px; }
  .product-sun-main .product-title p {
    margin-bottom: 40px; }
  .product-sun-main .product-list li {
    width: 350px;
    margin-bottom: 112px; }
    .product-sun-main .product-list li img {
      width: 100%;
      height: 224px; }
    .product-sun-main .product-list li .price p:nth-child(2) {
      color: #AA0601; }
  @media (max-width: 992px) {
    .product-sun-main {
      padding: 40px 0 104px; }
      .product-sun-main .product-title h4 {
        line-height: 43px; }
      .product-sun-main .product-title p {
        margin-bottom: 32px; }
      .product-sun-main .product-list li {
        width: 330px;
        margin-bottom: 72px; } }
  @media (max-width: 767px) {
    .product-sun-main {
      padding: 30px 0 56px; }
      .product-sun-main .product-title h4 {
        line-height: 26px; }
      .product-sun-main .product-title p {
        margin-bottom: 20px; }
      .product-sun-main .product-list li {
        width: 345px;
        margin-bottom: 32px; } }
  .product-sun-main .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product-sun-main .box-color {
      width: 19px;
      height: 19px;
      background: #5F3E2D;
      border-radius: 4px; }
      .product-sun-main .box-color:nth-child(2) {
        background: #B75929;
        margin-left: 8px; }
    @media (max-width: 767px) {
      .product-sun-main .box-color {
        width: 15px;
        height: 15px; } }

.location-banner {
  height: 304px;
  background: url(../images/img/qa.png) center center no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
  @media (max-width: 767px) {
    .location-banner {
      height: 143px; } }
  .location-banner-title {
    width: 1110px; }
    .location-banner-title .h1 {
      margin: 0;
      line-height: 90px; }
    @media (max-width: 992px) {
      .location-banner-title {
        width: 690px; }
        .location-banner-title .h1 {
          line-height: 67px; }
        .location-banner-title img {
          width: 30px; } }
    @media (max-width: 767px) {
      .location-banner-title {
        width: 345px; }
        .location-banner-title .h1 {
          line-height: 40px; }
        .location-banner-title img {
          width: 16px; } }

.location-main {
  margin-bottom: 304px; }
  @media (max-width: 992px) {
    .location-main {
      margin-bottom: 104px; } }
  @media (max-width: 767px) {
    .location-main {
      margin-bottom: 56px; } }
  .location-main .input-group {
    padding: 16px 0 32px;
    font-size: 3rem;
    font-weight: bold; }
    .location-main .input-group .select {
      margin-left: 20px;
      width: 324px;
      padding: 10px 0 10px 19px;
      font-size: 2.25rem;
      border: 1px solid #cccccc;
      position: relative; }
    @media (max-width: 992px) {
      .location-main .input-group {
        padding: 16px 0 32px;
        font-size: 2rem; }
        .location-main .input-group .select {
          padding: 12px 0 12px 16px;
          width: 237px;
          font-size: 2rem; } }
    @media (max-width: 767px) {
      .location-main .input-group {
        padding: 8px 0 20px;
        font-size: 1.75rem; }
        .location-main .input-group .select {
          margin-left: 12px;
          padding: 8px 0 8px 16px;
          width: 277px;
          font-size: 1.75rem; } }
  .location-main .card {
    width: 350px;
    margin-bottom: 32px; }
    .location-main .card-img-top {
      width: 100%;
      height: 224px; }
    @media (max-width: 992px) {
      .location-main .card {
        width: 330px;
        margin-bottom: 20px; }
        .location-main .card-img-top {
          height: 164px; } }
    @media (max-width: 767px) {
      .location-main .card {
        width: 345px;
        margin-bottom: 16px; } }
    .location-main .card-body h5 {
      padding: 12px 0 12px 24px;
      font-size: 3rem;
      line-height: 30px;
      border: 1px solid #00000020; }
    .location-main .card-body ul {
      padding: 16px 28px 16px 24px;
      border: 1px solid #00000020; }
    .location-main .card-body li {
      margin-bottom: 8px; }
      .location-main .card-body li:nth-last-child(1) {
        margin-bottom: 0; }
      .location-main .card-body li img {
        margin-right: 12px;
        width: 21px; }
      .location-main .card-body li p {
        font-size: 2.5rem;
        line-height: 30px; }
    @media (max-width: 992px) {
      .location-main .card-body h5 {
        padding: 8px 0 8px 16px;
        font-size: 2rem;
        line-height: 24px; }
      .location-main .card-body ul {
        padding: 17px 28px 16px 16px; }
      .location-main .card-body li img {
        margin-right: 16px;
        width: 20px; }
      .location-main .card-body li p {
        font-size: 1.75rem;
        line-height: 21px; } }
    .location-main .card-link {
      border: none;
      width: 350px;
      padding: 20px 0;
      font-size: 2.375rem;
      line-height: 26px;
      cursor: pointer; }
      .location-main .card-link:hover {
        background: #796969; }
      @media (max-width: 992px) {
        .location-main .card-link {
          width: 330px;
          font-size: 1.75rem;
          line-height: 20px;
          padding: 16px 0; } }
      @media (max-width: 992px) {
        .location-main .card-link {
          width: 345px; } }

/*# sourceMappingURL=all.css.map */
