.d {
    &-row {
        display: flex;
        flex-direction: row;
    }
    &-column {
        display: flex;
        flex-direction: column;
    }
    &-column-r {
        display: flex;
        flex-direction: column-reverse;
    }
}
.justify-c{
    &-content {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
}
.flex-wrap {
    flex-wrap: wrap;
  }
.align-i-content {
    align-items: center;
}

// .flex-rowv {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }