// .container{
//     max-width: 100%;
//     margin: 0 auto;
// }

@mixin breakpoint($point) {
	@if $point == pad {
		// @media only screen and(max-width: 992px) {
        @media (max-width: 992px) {
			@content;
		}
	} @else if $point == phone {
		@media (max-width: 767px) {
			@content;
		}
	}
}
// max-width = 列寬*12(列)+間隔*11
.container {
	max-width: 1110px;
	margin: 0 auto;
	// padding: 64px 10px 80px;
	@include breakpoint(pad) {
		max-width: 690px;
		padding: 40px 0;
	}
	@include breakpoint(phone) {
		max-width: 345px;
		// width: 100%;
		// padding: 32px 5px;
	}
}

// @mixin desktop-below {
//     @madia (max-width:1023px) {
//         @content;
//     }  
// }
// @mixin pad-below {
//     @madia (max-width: width 767px) {
//         @content;
//     }
// }
// @mixin mobile {
//     @madia (max-width: width 568px) {
//         @content;
//     }
// }