// box-sizing reset 
*,*::before,*::after {
	box-sizing: border-box;
}
html {
    transition: 0.5s all;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
// 無邊框
input:focus{
    outline: none;
  }